body {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #cce1ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.qr-code {
    height: 460px;
    width: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    
}

h1 {
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
}

p {
    background-color: white;
    text-align: center;
    font-size: 0.9rem;
    color: #959595;
}

img {
    width: 300px;
    height: 350px;
    border-radius: 5%;
}

@media (max-width: 375px) {
    
    body {
        background-color: #cce1ff;
    }

    .qr-code {
        
        border-radius: 5%;
        height: 300px;
        width: 150px;
        padding: 10px 25px;
    }

    h1 {
        font-size: 1rem;
        padding: 0 0;
    }

    p {
        font-size: 0.6rem;
        margin: 0;
    }
        
    

    img {
        height: 250px;
        width: 180px;
        padding-top: 0;
        border-radius: 5%;
    }

}